*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--font-color);
}

.grid-layout {
  display: grid;
  height: 100vh;
  width: 100vw;
  min-height: 667px;
  min-width: 375px;
  grid-template-columns: [width] 100vw;
  grid-template-rows: [header] 80px [content] auto [footer] 50px;
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  grid-row: header;
  grid-column: width;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color-header);
  width: 100vw;
}

.header__logo {
  margin: 10px;
  height: 70px;
  width: 70px;
  fill: #333333;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__filter {
  margin: 5px;
  cursor: pointer;
  border: 2px solid #cdfbbb;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  align-self: center;
}

.header__search-bar {
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #cdfbbb;
  background-color: transparent;
}

.header__search-button {
  cursor: pointer;
  margin-right: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #cdfbbb;
  font-size: large;
}

.main-layout {
  display: flex;
  flex-wrap: wrap;
  grid-row: content;
  grid-column: width;
  overflow-y: scroll;
  background-image: url(../icon/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.characters {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: var(--background-color-characters);
  border: 0.5px solid black;
  border-radius: 5px;
}

.avatar {
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 2px;
}

.characters-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.name {
  padding: 0;
  margin: 5px;
}
.characters-status {
  padding: 0;
  margin: 2px;
}

.characters-species {
  padding: 0;
  margin: 2px;
}

.characters-gender {
  padding: 0;
  margin: 2px;
}

.footer {
  grid-row: footer;
  grid-column: width;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-footer);
  font-size: 12px;
}
